import { Entity, BaseEntity, PrimaryColumn, Column } from 'typeorm';
import { ObjectType, Field, ID } from 'type-graphql';

@Entity()
@ObjectType()
export class {{className}} extends BaseEntity {
  {{#each classFields}}
  {{{field}}}
  {{{column}}}
  {{{name}}}: {{{type}}};

  {{/each}}
}

